<div class="container bootstrap snippets bootdeys">
  <div class="row">
      <div class="col-md-4 col-sm-6 content-card">
          <div class="card-big-shadow">
              <div class="card card-just-text" data-background="color" data-color="blue" data-radius="none">
                  <div class="content">
                      
                      <h4 class="title"><a href="#">About the program</a></h4>
                      <p class="description">The frequent-flyer program of our Air Lines  offers points (or "miles") to passengers traveling on most fare types , which accumulate towards free awards such as airline tickets, business and first-class upgrades, and luxury products. Our program uses Blockchain as a service which helps to the customer accumulates generic loyalty rewards within a single "wallet." </p>
                  </div>
              </div> <!-- end card -->
          </div>
      </div>
      
      <div class="col-md-4 col-sm-6 content-card">
          <div class="card-big-shadow">
              <div class="card card-just-text" data-background="color" data-color="green" data-radius="none">
                  <div class="content">
                      
                      <h4 class="title"><a href="#">Why Blockchain?</a></h4>
                      <p class="description">Blockchain creates an immutable and time-stamped distributed database entry of every single transaction ever made, making each transaction and its record easily traceable, but also rendering them irreversible, preventing double spending, fraud, abuse, other type of manipulation of the transactions.It has been ranked fairly highly according to some independent news outlets. </p>
                  </div>
              </div> <!-- end card -->
          </div>
      </div>
      
      <div class="col-md-4 col-sm-6 content-card">
          <div class="card-big-shadow">
              <div class="card card-just-text" data-background="color" data-color="yellow" data-radius="none">
                  <div class="content">
                      
                      <h4 class="title"><a href="#">Contact Us!</a></h4>
                      <p class="description">Our Address <br>Adam Street, New York, NY 535021<br>
                        Email Us<br> 
                        info@example.com<br>
                        Call Us<br>
                          5589 55488 55</p>
                  </div>
              </div> <!-- end card -->
          </div>
      </div>
      
      <!--<div class="col-md-4 col-sm-6 content-card">
          <div class="card-big-shadow">
              <div class="card card-just-text" data-background="color" data-color="brown" data-radius="none">
                  <div class="content">
                      <h6 class="category">Best cards</h6>
                      <h4 class="title"><a href="#">Brown Card</a></h4>
                      <p class="description">What all of these have in common is that they're pulling information out of the app or the service and making it relevant to the moment. </p>
                  </div>
              </div> <!-- end card 
          </div>
      </div>
      
      <div class="col-md-4 col-sm-6 content-card">
          <div class="card-big-shadow">
              <div class="card card-just-text" data-background="color" data-color="purple" data-radius="none">
                  <div class="content">
                      <h6 class="category">Best cards</h6>
                      <h4 class="title"><a href="#">Purple Card</a></h4>
                      <p class="description">What all of these have in common is that they're pulling information out of the app or the service and making it relevant to the moment. </p>
                  </div>
              </div> <!-- end card 
          </div>
      </div>
      
      <div class="col-md-4 col-sm-6 content-card">
          <div class="card-big-shadow">
              <div class="card card-just-text" data-background="color" data-color="orange" data-radius="none">
                  <div class="content">
                      <h6 class="category">Best cards</h6>
                      <h4 class="title"><a href="#">Orange Card</a></h4>
                      <p class="description">What all of these have in common is that they're pulling information out of the app or the service and making it relevant to the moment. </p>
                  </div>
              </div> <!-- end card 
          </div>
      </div>
  </div>-->
  </div>



<!--<div class="card">
  <div class="card-header">
    About the program
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p class="card-text">A frequent flyer program is a type of loyalty program run by an airline or several airlines in 
        conjunction, rewarding frequent passengers with extras and bonuses, and providing facilities 
        aiding air travel with the sponsoring airline or airlines. The most usual feature of a frequent 
        flyer program is that a participant collects "air miles" for every flight segment flown. A second 
        type of benefits is the frequent flyer status that is usually awarded to those participants of the 
        program that fulfill certain conditions. This status then yields additional automatic benefits to 
        the participant such as fast track boarding, lounge access, booking priority, waiting list priority, 
        dedicated customer service, allocation if exit row seats and upgrade possibility.
        </p>  
     
    </blockquote>
  </div>
</div>-->


